<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spoilr</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/user">Home</a></li>
        <li><a href="/compose">Compose</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">Signed in as <strong>INSERT NAME</strong></li> 
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="title-bar">
  <form method="post">
    <ul class="filter-list">
      <% @hashtag_frequency.first(20).each do |freq| %>
        <li>
          <button type="submit" name="hashtag" class="btn btn-xs active" value="<%= freq[0] %>">
            #<%= freq[0] %> - <%= freq[1] %>
          </button>
        </li>
      <% end %>
    </ul>
  </form>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 side-bar">
      <div class="filter-box">
        Active Filters
      </div>
      <div class="filter-box">
        Recommended Filters
      </div>
    </div><!-- ./col-sm-3 side-bar -->

    <div class="col-sm-9">
      <div class="content">
        <% @home_timeline.each do |tweet| %>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="<%= tweet.user.profile_image_uri %>">
            </a>
          </div> <!-- ./media-left -->

          <div class="media-body <%= "redacted" unless (tweet.hashtags.map { |hashtag| hashtag.text } & session[:filters]).empty? %>">
            <a class="media-heading" href="http://www.twitter.com/<%= tweet.user.screen_name %>" target="_blank">@<%= tweet.user.screen_name %></a>
            <div class="pull-right tweet-button-text">
              <span class="date-time">Date</span>
              <span class="date-time">Time</span>
            </div> <!-- ./pull-right tweet-button-text" -->

            <div class="tweet-spacing">
              <p><%= tweet.text %></p>
              <a href="#" class="btn btn-default btn-xs">Reply</a>
              <a href="#" class="btn btn-default btn-xs">Retweet</a>
              <a href="#" class="btn btn-default btn-xs">Star</a>
              <a href="#" class="btn btn-default btn-xs">Follow</a>
            </div><!-- ./tweet-spacing -->
          </div> <!-- ./media-body -->
        </div> <!-- ./media -->
        <hr>
        <% end %>
    </div><!-- ./col-sm-9 -->
